@media only screen and (min-width: 1599px) {
  .container-fluid {
    max-width: 100%;
    padding: 0px 60px;
  }

  .container {
    max-width: 1470px;
  }
}

@media only screen and (max-width: 1599px) {
  body {
    font-size: 15px;
    line-height: 24px;
  }

  h1 {
    font-size: 70px;
  }

  h2 {
    font-size: 35px;
    line-height: 42px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 25px;
  }

  h6 {
    font-size: 16px;
    letter-spacing: 0.34px;
  }

  .p_100 {
    padding: 80px 0px;
  }

  .ways_hd ul.shipping li:nth-child(2) {
    padding: 0 50px;
    margin: 0 50px;
  }

  .ways_hd ul.shipping {
    padding: 100px 50px 50px 50px;
  }

  header .free-exp p.m-0 {
    padding: 14px 50px 14px 0;
  }

  header .free-exp ul li {
    padding-right: 30px;
    padding-left: 30px;
  }

  header .topbar-content {
    padding: 12px 0px;
  }

  header .navbar-expand-lg .navbar-nav .nav-link {
    font-size: 14px;
  }

  .banner-content .banner-head .shipping li .ship-box p {
    font-size: 16px;
  }

  .banner-content .banner-head .shipping li span {
    font-size: 13px;
  }

  .card-wrap {
    gap: 15px;
  }

  .loved-prdct_content .card-body p {
    font-size: 14px;
    line-height: 1.5;
  }

  .loved-prdct_content .rating .star i {
    font-size: 13px;
  }

  .loved-prdct_content .rating span {
    font-size: 10px;
  }

  .busines_slider2 .card .card-body h5,
  .busines_slider .card .card-body h5 {
    font-size: 16px;
  }

  .busines_slider2 .card .card-body p,
  .busines_slider .card .card-body p {
    margin: 20px 0 0;
  }

  .ways_hd ul.shipping li .ship-box p {
    font-size: 16px;
  }

  .our_best_grid .card .card-body {
    padding: 20px 0 0;
  }

  .our_best_grid .card {
    padding: 12px 12px 20px;
  }

  .busines_slider2 .card,
  .busines_slider .card {
    padding: 12px 12px 25px;
  }

  .multi_shop_txt p {
    margin: 20px 0;
  }

  .testimonial-para .test_hd h6 {
    font-size: 16px;
  }

  .testimonial-para p {
    font-size: 14px;
    line-height: 1.5;
  }

  .view_slider .slick-dots {
    margin-top: 20px;
  }

  .quality_content {
    padding: 40px 50px;
  }

  .blog_list li .blog_list_txt h6 {
    font-size: 18px;
    line-height: normal;
    margin: 10px 0 8px;
  }

  .blog_list li .blog_list_txt p {
    font-size: 14px;
    line-height: 1.5;
  }

  .blgs_lt_content h4 {
    font-size: 22px;
    line-height: 1.5;
  }

  .best_price .ways_hd ul.shipping li:nth-child(2) {
    padding: 0 25px;
    margin: 0 25px;
  }

  .footer_top_lr h5 {
    font-size: 20px;
    line-height: 1.5;
  }

  .footer_top_rt input {
    min-width: 300px;
    margin-right: 10px;
  }

  .light_dark {
    font-size: 15px;
  }

  .footer_grid {
    padding-top: 60px;
    margin-right: 40px;
    padding-right: 40px;
    gap: 50px;
  }

  .footer_bord {
    padding-bottom: 90px;
    margin-right: 40px;
  }

  .footer_bt {
    padding: 30px 0;
  }

  .footer_contact li span {
    font-size: 16px;
    min-width: 80px;
  }

  .busines_slider2 .card .busines_img,
  .busines_slider .card .busines_img {
    min-height: 250px;
  }

  .multi_shop_cont {
    padding: 30px;
  }

  header .search_wrapper {
    max-width: 700px;
  }

  .counter-wrapper .counter-block {
    padding: 0px 80px;
  }

  .counter-wrapper .counter li span {
    font-size: 35px;
  }

  .shopgp__text.shop_lyt_txt ul li .card .card-body p {
    font-size: 20px;
    line-height: 1.4;
  }

  .shopgp__text.shop_lyt_txt ul li .shop_code_copn a {
    padding: 15px 30px;
  }

  .site_rvw .tab-content .testimonial-para {
    padding: 35px 40px;
  }

  .paginetion_wreap ul {
    padding-top: 50px;
  }

  .banner-content h2 {
    font-size: 60px;
    line-height: normal;
  }

  .banner-content p {
    font-size: 18px;
  }

  .banner-content {
    padding: 80px;
  }

  .get-lft-info .get-lnks p {
    gap: 15px;
  }

  .get-lft-info .get-lnks p a {
    font-size: 18px;
  }

  .get_in_sec .get-in-content {
    padding: 20px 20px 20px 60px;
  }

  .shopgp__text ul li:not(:last-child) {
    margin-bottom: 30px;
  }

  .shopgp__text ul li .card .card-body h5 {
    font-size: 32px;
  }

  .shopgp__text ul li .card .card-body span {
    font-size: 16px;
  }

  .shopgp__text.shop_lyt_txt ul li .card .card-body p {
    font-size: 18px;
  }

  .privacy_txt li img {
    max-width: 20px;
  }

  .shop_dt_list {
    padding: 25px 20px 25px 40px;
  }

  .shop_dt_list ul li {
    width: 42%;
  }

  .shop_dt_ship p {
    font-size: 13px;
    padding: 10px;
  }

  .shop_dt_note p {
    font-size: 14px;
  }

  .shop_dt_group .form-label {
    font-size: 14px;
  }

  .shop_dt_cst form .form-select {
    font-size: 14px;
  }

  .shp_dt_art {
    padding: 20px 10px;
  }

  .descript_wrapper .nav .nav-link {
    font-size: 16px;
    padding: 15px 28px;
  }

  .related_content {
    padding: 30px;
  }

  .related_content::before,
  .related_content::after {
    width: 20px;
  }

  .shp_dt_art p span {
    font-size: 16px;
  }

  .shp_dt_art p strong {
    font-size: 18px;
  }

  .shp_dt_art p {
    font-size: 20px;
  }

  .related_slider::after {
    margin-right: 30px;
  }

  .related_slider::before {
    margin-left: 30px;
  }

  /* 5june */
  .basket-rgt .coupon input {
    padding: 10px;
    width: calc(100% - 100px);
  }

  .basket-rgt .coupon a {
    padding: 15px 20px;
    font-size: 14px;
  }

  .basket-rgt .coupon .popup-top a {
    font-size: 50px;
  }

  .secure p {
    font-size: 12px;
    line-height: 1.2;
  }
  .summary_wrap .cart-product-wrapper {
    gap: 10px;
  }

  .product-text p {
    font-size: 14px;
    line-height: 1.4;
  }

  .product-text {
    max-width: 100px;
  }
}

@media only screen and (max-width: 1199px) {
  h1 {
    font-size: 60px;
  }

  .our_best_grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  .our_best_grid .card .our_best_img {
    min-height: 114px;
  }

  .our_best_content .shop_wreap {
    gap: 30px;
    margin-top: 50px;
  }

  .multi_shop_grid {
    gap: 20px;
  }

  .footer_grid {
    /*margin-right: 30px;
		padding-right: 30px;*/
    gap: 30px;
  }

  .shop_rtl {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .blog-content .blog-block {
    padding-left: 20px;
  }

  .blog-content .blog-blocks {
    margin-bottom: 35px;
  }

  .blog-content .blog-blocks .posts li a {
    gap: 15px;
    padding-bottom: 10px;
    margin-top: 25px;
  }

  .blog-content .blogs p:first-child {
    font-size: 14px;
  }

  .blog-content .news-block {
    padding: 20px;
  }

  .create-content {
    padding: 70px 100px;
  }

  .story-txt {
    padding-left: 50px;
  }

  .counter-wrapper .counter-block {
    padding: 0px 50px;
    margin-top: 40px;
  }

  .counter-wrapper {
    margin-top: 50px;
  }

  .empowering-content p {
    max-width: 800px;
    font-size: 18px;
  }

  .p_100 {
    padding: 70px 0px;
  }

  .ways_hd h3 {
    padding: 25px 65px;
  }

  .ways_hd ul.shipping {
    padding: 90px 40px 40px 40px !important;
  }

  .view_wrapper .view_hd h2 {
    margin-bottom: 30px;
  }

  .accordion_wrapper .accordion-item .accordion-button {
    padding: 35px 25px 35px 35px;
  }

  .paginetion_wreap ul {
    padding-top: 70px;
  }

  .shopgp__text.shop_lyt_txt ul li .card .card-body h5 {
    font-size: 30px;
    font-weight: 700;
    line-height: normal;
    text-align: start;
  }

  .shopgp__text.shop_lyt_txt ul li .shop_code_copn a {
    padding: 10px 15px;
  }

  .shopgp__text.shop_lyt_txt ul li .card {
    background-color: transparent;
    flex-direction: row;
    align-items: center;
    gap: 35px;
  }

  .footer_contnt ul li {
    margin-top: 25px;
  }

  .site_rvw .tab-content .testimonial-para {
    padding: 30px;
  }

  .loved-prdct_content .prev-arrow.slick-arrow {
    left: -17px;
  }

  .loved-prdct_content .next-arrow.slick-arrow {
    right: -17px;
  }

  .up_artwrk_sec .upwrk_data {
    gap: 30px;
  }

  .loyal-content .reasons .rsn {
    padding: 15px;
  }

  .loyal-content .reasons {
    gap: 10px;
  }

  .banner_inner_text {
    max-width: 65%;
  }

  .shopgp__text ul li .card .shopgp_img {
    min-width: 350px;
    min-height: 250px;
  }

  .shopgp__text.shop_lyt_txt ul li .card .card-body h5 {
    font-size: 28px;
  }

  .shopgp__text ul li .card .card-body span {
    font-size: 15px;
  }

  .shopgp__text.shop_lyt_txt ul li .card .card-body p {
    font-size: 16px;
  }

  .descript_wreap {
    margin-top: 30px;
  }

  .related_slider {
    overflow: hidden;
  }

  /* 5june */
  .checkout-sec .steps {
    margin: 30px auto 50px;
  }

  .checkout-sec table thead th,
  .checkout-sec table td {
    padding: 10px;
    font-size: 14px;
  }

  .ship-wrap .checkout-block {
    padding: 20px;
    margin-bottom: 30px;
  }

  .basket-rgt {
    padding: 20px;
  }
  .bodyMainWrap header .search_content .navbar-brand img {
    height: 100px;
    width: 100px;
    object-fit: fill;
}
}

@media only screen and (max-width: 991px) {
  body {
    font-size: 14px;
    line-height: 22px;
  }

  h2 {
    font-size: 30px;
    line-height: normal;
  }

  h3 {
    font-size: 28px;
  }

  h4 {
    font-size: 22px;
  }

  h6 {
    font-size: 15px;
    letter-spacing: 0.3px;
  }

  .p_100 {
    padding: 70px 0px;
  }

  header button.navbar-toggler {
    display: grid !important;
    padding: 0;
    background: transparent;
    outline: none !important;
    box-shadow: none !important;
    cursor: pointer !important;
    border: 0;
    justify-content: end;
    width: 30px;
  }

  .bars {
    width: 30px;
    height: 3px;
    margin: 3px auto;
    background-color: #fff;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    background-image: none !important;
  }

  header nav.navbar .navbar-collapse {
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: #000;
    left: -45%;
    right: 0;
    margin: 0;
    z-index: 999;
    width: 45%;
    transition: all 0.3s ease-out;
  }

  header nav.navbar .navbar-collapse.open {
    left: 0;
  }

  header ul {
    padding: 15px;
    gap: 15px;
    align-items: start;
  }

  header nav.navbar .navbar-nav {
    gap: 15px;
  }

  /*hearder start here */
  header .free-exp ul li {
    border: 0;
    padding: 0 0 0 0;
  }

  header .free-exp p.m-0 {
    padding: 0;
    border: 0;
  }

  header .free-exp ul {
    padding: 15px 0;
  }

  header .contc ul {
    padding: 15px 0;
  }

  header .free-exp ul {
    display: none;
  }

  header .search_content {
    margin: 0;
  }

  header .free-exp {
    justify-content: center;
    padding: 15px 0;
  }

  header .contc ul {
    padding: 0;
    gap: 12px;
  }

  header ul.pro_headr_destp {
    display: none;
  }

  .search-wrap {
    padding: 15px 0;
  }

  header .search_wrapper {
    margin: 0;
  }

  header .search_wrapper .dropdown a {
    padding: 0 10px;
  }

  header .search_wrapper .search_block {
    width: 70%;
  }

  header .search_wrapper .dropdown {
    width: 30%;
  }

  header ul.pro_headr_mb {
    display: flex;
  }

  .navbar .navbar-collapse.collapsing {
    height: auto !important;
  }

  header .collapse:not(.show) {
    display: block !important;
  }

  .toggle_hide_mb {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(255 255 255 / 50%);
  }

  .toggle_hide_mb.open_dark {
    z-index: 1;
    opacity: 1;
    transition: all 0.3s ease-in-out;
  }

  .navbar_nav_mb {
    display: block;
    padding: 15px;
  }

  .navbar_text_mb {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
  }

  .navbar_text_mb a {
    display: flex;
    align-items: center;
    color: #fff;
    gap: 8px;
  }

  .navbar_text_mb a img {
    max-width: 18px;
  }

  header nav.navbar .navbar-nav {
    display: none;
    padding: 16px;
  }

  .navbar_nav_mb ul {
    padding: 0;
  }

  .submuenu_mb {
    display: none;
  }

  .toggle_sub_menu li span {
    display: block;
    cursor: pointer;
    float: right;
    position: relative;
  }

  .toggle_sub_menu li span.sub_txt_icon i::before {
    content: "\f068";
    font-family: "FontAwesome";
    background-color: #000;
  }

  .toggle_sub_menu li .toggle_sub_txt {
    color: #fff;
    font-weight: 500;
    font-size: 15px;
  }

  .toggle_sub_menu li {
    padding: 12px 0;
    border-top: 1px solid #1b1b1b;
  }

  .submuenu_mb li {
    border: 0;
    padding: 8px 15px 0;
  }

  .submuenu_mb li a {
    color: #fff;
  }

  /*hearder end here */
  .busines_slider2 .slick-arrow,
  .busines_slider .slick-arrow {
    width: 35px;
    height: 35px;
    top: -100px;
  }

  .busines_content h6 {
    margin-bottom: 20px;
    font-size: 15px;
  }

  .busines_slider2 .card,
  .busines_slider .card {
    margin: 0 8px;
  }

  .ways_hd h3 {
    transform: unset;
    padding: 20px;
  }

  .ways_hd ul.shipping {
    padding: 15px;
  }

  .ways_hd ul.shipping li:nth-child(2) {
    padding: 0 20px;
    margin: 0 20px;
  }

  .our_best_grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }

  .our_best_content .shop_wreap {
    gap: 15px;
    margin-top: 30px;
  }

  .arrivals_wreap .card {
    margin: 0 8px;
  }

  .multi_shop_grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .view_slider .testimonial-para {
    margin: 0 8px;
  }

  .best_price .ways_hd ul.shipping {
    padding: 40px 0;
  }

  .footer_top_rt input {
    min-width: auto;
    width: 100%;
  }

  form.footer_top_rt {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }

  .footer_grid {
    margin-right: 0;
    padding-right: 0;
    border: 0;
  }

  .footer_bord {
    padding-bottom: 0;
    margin-right: 0;
  }

  .card_imgs {
    padding: 50px 0;
  }

  .footer_bt_rt {
    gap: 15px;
  }

  .loved-prdct_content .next-arrow.slick-arrow {
    right: -17px;
  }

  .loved-prdct_content .prev-arrow.slick-arrow {
    left: -17px;
  }

  .shop_ltr {
    flex-direction: column;
    gap: 50px;
  }

  .shop_ltr .filter_wreap {
    width: 100%;
    padding: 0;
  }

  .shop_rtl_wreap {
    width: 100%;
  }

  .paginetion_wreap ul {
    padding-top: 50px;
  }

  .accordion_wrapper .accordion-item .accordion-button::after {
    width: 35px;
    height: 35px;
    background-size: 35px;
  }

  .blog-content .blog-block {
    padding-left: 0px;
    margin-top: 50px;
  }

  .blog-content .blog-blocks .posts li a {
    padding-bottom: 8px;
    margin-top: 15px;
  }

  .blog-content .blog-blocks .about h6 {
    max-width: 500px;
  }

  .blog-content .category-link li a {
    font-size: 16px;
  }

  .blog-detail p {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .blog-detail .blog-list {
    padding-top: 20px;
  }

  .blog-detail .blog-list li {
    padding: 5px 0px;
  }

  .blog-content .social-links {
    margin-bottom: 30px;
  }

  .create-content {
    padding: 50px 60px;
  }

  .counter-wrapper .counter li span {
    font-size: 28px;
  }

  .counter-wrapper .counter-block {
    padding: 0px 35px;
    margin-top: 30px;
  }

  .counter-wrapper {
    margin-top: 30px;
  }

  .story-content .overflow-text p {
    font-size: 18px;
    line-height: 1.2;
  }

  .story-content .overflow-text {
    padding: 10px;
    right: -25px;
    bottom: 20px;
  }

  .story-txt {
    padding-left: 30px;
  }

  .empowering-content p {
    font-size: 15px;
  }

  .busine_select {
    margin: 40px 0;
  }

  header .search_wrapper .search_block form.srch_txt {
    padding: 10px 15px;
  }

  .ways_hd ul.shipping {
    padding: 85px 35px 35px 35px !important;
  }

  .ways_hd ul.shipping li .ship-box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .ways_hd ul.shipping li .ship-box .text p {
    text-align: center;
  }

  .footer_contnt ul li {
    margin-top: 25px;
  }

  .footer_contact {
    padding-top: 60px;
  }

  .footer_bt {
    padding: 25px 0;
  }

  .vinyl_wrapper.viny_new {
    padding-top: 20px;
    padding-bottom: 60px;
  }

  .privacy_txt {
    margin-top: 40px;
  }

  .accordion_wrapper .accordion-item:not(:last-child) {
    margin-bottom: 35px;
  }

  .custom-sec.shop_size.shop_nw .custom-content .select-box {
    flex-direction: column;
    background-color: transparent;
  }

  .shop_size .custom-content {
    padding: 50px 0;
  }

  .filter_wreap .accordion-item .accordion-body p {
    margin-bottom: 0;
  }

  .accordion_wrapper .accordion-item .accordion-body p {
    margin: 0;
    padding: 0 60px 35px 35px;
  }

  .footer_grid {
    gap: 20px !important;
  }

  .shopgp__text.shop_lyt_txt ul li .card {
    flex-direction: column;
  }

  .shopgp__text.shop_lyt_txt .shop_code_copn {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    justify-content: space-between;
    width: 45%;
    gap: 15px;
  }

  .shopgp__text.shop_lyt_txt ul li {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .shopgp__text.shop_lyt_txt ul li .card .card-body {
    padding: 0;
    text-align: center;
  }

  .shopgp__text.shop_lyt_txt ul li {
    padding: 20px;
  }

  header .dropdown-toggle::after {
    right: -10px;
  }

  .navbar_nav_mb .dropdown-toggle::after {
    color: #fff;
    font-size: 14px;
    top: 3px;
  }

  .site_rvw .tab-content .review_grid {
    display: flex;
    gap: 30px;
    flex-direction: column;
  }

  .site_rvw .tab-content {
    margin-top: 70px;
  }

  .up_artwrk_sec .upwrk_data {
    flex-direction: column;
  }

  .up_artwrk_sec .upwrk_data .mid_txt::after {
    position: absolute;
    content: "";
    width: 318px;
    height: 1px;
    left: 50%;
    top: 50%;
    background-color: #1b1b1b;
    z-index: -1;
    transform: translate(-50%);
  }

  .up_artwrk_sec .upwrk_data {
    gap: 30px;
  }

  .navbar_text_mb button.btn {
    padding: 0 15px 0 0;
  }

  .navbar_nav_mb ul.dropdown-menu {
    margin: 0;
  }

  .navbar_nav_mb ul.dropdown-menu button {
    padding: 5px 10px;
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .banner-content .banner-img img {
    border-radius: 10px;
  }

  .filter_wreap .accordion-item {
    padding: 22px 0;
  }

  .filter_wreap .accordion-item .accordion-button {
    font-size: 16px;
  }

  .shop_size_txt p {
    font-size: 22px;
  }

  .shop_size_txt p strong,
  .shop_size_txt p span {
    font-size: 16px;
  }

  .shop_rtl .card {
    margin: 0 !important;
  }

  .massage_wreap {
    bottom: 20px;
    right: 20px;
  }

  .massage_wreap a img {
    max-width: 45px;
  }

  .banner-content {
    padding: 50px;
  }

  .banner-content h2 {
    font-size: 45px;
  }

  .banner-content p {
    font-size: 15px;
    line-height: normal;
    width: 50%;
  }

  .loyal-content .reasons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  .inquiry_sec .inquiry_content .inquiry-form .form_rw div#v-pills-tabContent {
    padding: 0;
    margin: 0;
    border: 0;
  }

  .inquiry_sec .inquiry_content .inquiry-form .form_rw {
    flex-direction: column;
    gap: 30px;
  }

  .inquiry_sec .inquiry_content .inquiry-form .form_rw button {
    max-width: 100%;
    width: auto;
  }

  .inquiry_sec .inquiry_content .inquiry-form .form_rw .nav {
    width: 100%;
  }

  .get_in_sec .get-in-content {
    padding: 30px;
  }

  .get_in_sec .get-in-content .row {
    gap: 30px;
  }

  .shopgp__text.shop_lyt_txt ul li .card {
    width: 100%;
  }

  .shopgp__text ul li .card .shopgp_img {
    min-width: 100%;
    min-height: 300px;
  }

  .privacy_txt li {
    align-items: start;
  }

  .shop_dt_img {
    margin-bottom: 50px;
  }

  .shop_dt_img {
    margin-bottom: 50px;
  }

  .shp_dt_art {
    margin-top: 50px;
  }

  /* 5june */
  .basket-rgt {
    margin-top: 50px;
  }

  .basket-rgt .form-check {
    display: inline-flex;
  }

  .req-info {
    right: auto;
  }

  .checkout-sec .step .circle {
    height: 50px;
    width: 50px;
    border: 5px solid #000;
  }

  .checkout-sec .steps li .step .text {
    font-size: 12px;
  }
  .ship-wrap .checkout-block {
    padding: 20px;
    margin-bottom: 30px;
  }

  .basket-rgt {
    padding: 20px;
  }

  .summary-table table {
    width: 100%;
  }

  .summary-table .quantity {
    margin-left: auto;
  }

  .product-text {
    max-width: 100%;
  }

  .ship-wrap h5,
  h5 {
    font-size: 20px;
  }

  .checkout-block.ship {
    gap: 30px;
}
.bodyMainWrap .bars {
  background-color: #e4004e;
}

}

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 50px;
    line-height: normal;
  }

  .p_100 {
    padding: 60px 0px;
  }

  .banner-content .banner-head .shipping {
    flex-direction: column;
    gap: 30px;
  }

  .banner-content .banner-head .shipping li .ship-box p {
    font-size: 15px;
  }

  .loved-prdct_content h3 {
    margin-bottom: 16px;
  }

  h3 {
    margin-bottom: 16px;
  }

  .custom-sec .select_wrap .form-select {
    padding: 14px;
  }

  .busine_select {
    margin: 35px 0;
  }

  .busines_slider2 .slick-arrow,
  .busines_slider .slick-arrow {
    width: 30px;
    height: 30px;
    top: -80px;
  }

  .busines_content h6 {
    margin-bottom: 16px;
  }

  .cta {
    font-size: 16px;
    padding: 16px 38px;
  }

  .busines_btn {
    margin-top: 50px;
  }

  .ways_hd ul.shipping {
    flex-direction: column;
    gap: 30px;
  }

  .ways_hd ul.shipping li:nth-child(2) {
    padding: 0;
    margin: 0;
    border: 0;
  }

  .our_best_content p {
    margin-bottom: 25px;
  }

  .busines_slider2 .prev-arrow,
  .busines_slider .prev-arrow {
    right: 40px;
  }

  .arrivals_progress {
    margin-top: 50px;
  }

  .blog_list li .blog_list_txt h6 {
    font-size: 16px;
  }

  .blog_list li .blog_list_txt span {
    font-size: 13px;
  }

  .blog_list li .blog_list_txt p {
    font-size: 13px;
  }

  .best_price .ways_hd ul.shipping li:nth-child(2) {
    padding: 0;
    margin: 0;
    border: 0;
  }

  .footer_contnt ul li {
    margin-top: 20px;
  }

  .footer_grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer_contact {
    padding-top: 50px;
  }

  .view_slider .slick-dots li button:before {
    font-size: 12px;
  }

  header .search_wrapper .dropdown {
    width: 40%;
  }

  header .search_wrapper .search_block {
    width: 60%;
  }

  header .search_wrapper .dropdown a {
    font-size: 12px;
  }

  .bars {
    width: 25px;
    height: 2px;
  }

  header button.navbar-toggler {
    width: auto;
  }

  header nav.navbar .navbar-collapse {
    left: -50%;
    width: 50%;
  }

  .blog-img img {
    width: 100%;
  }

  .banner-content .banner-head .shipping {
    padding: 20px 0;
  }

  .ways_hd ul.shipping {
    padding: 60px 30px 30px 30px !important;
  }

  .vinyl_wrapper.viny_new {
    padding-bottom: 50px;
  }

  .privacy_txt {
    margin-top: 35px;
  }

  .shop_top .shop_size_txt {
    margin: 0;
    gap: 10px;
  }

  .shop_top .shop_size_txt span.dwn_arw {
    margin-left: 0px;
  }

  .shop_size .custom-content {
    padding: 60px 0;
  }

  .shop_ltr .filter_wreap .accordion {
    padding: 60px 30px 40px;
  }

  .custom-sec .select_wrap .form-select {
    padding: 12px 5px !important;
  }

  .vinyl_wrapper {
    padding: 60px 0;
  }

  .vinyl_wrapper nav.breadcrumb_wreap {
    margin-bottom: 20px;
  }

  .filter_wreap .accordion-item .accordion-body {
    padding: 10px 0 0;
  }

  .accordion_wrapper .accordion-item .accordion-body p {
    margin: 0;
    padding: 0 60px 35px 35px;
  }

  .paginetion_wreap ul li a {
    width: 40px;
    height: 40px;
    font-size: 14px;
  }

  .shop_gp_list .hd_text {
    margin-bottom: 50px;
  }

  .custmr_revw .view_content .view_all {
    margin-top: 40px;
  }

  .site_rvw .tab-content {
    margin-top: 60px;
  }

  .view_wrapper.custmr_revw .view_content h2 {
    margin-bottom: 20px;
  }

  .review_wrapper .site_rvw .revw_buttn a {
    padding: 14px 20px;
  }

  .footer_contnt ul li {
    margin-top: 20px;
  }

  footer .card_imgs {
    padding: 40px 0;
  }

  .footer_bt {
    padding: 20px 0;
  }

  .footer_top_rt input {
    padding: 15px;
  }

  .up_artwrk_sec .upwrk_files {
    padding: 40px;
  }

  .busines_slider2 .card,
  .busines_slider .card {
    margin: 0 15px;
  }

  .arrivals_wreap .card {
    margin: 0 15px;
  }

  .accordion_wrapper .accordion-item .accordion-button {
    padding: 25px 20px 25px 20px;
    font-size: 18px;
  }

  .accordion_wrapper .accordion-item .accordion-button::after {
    width: 30px;
    height: 30px;
    background-size: 30px;
  }

  .accordion_wrapper .accordion-item .accordion-body p {
    padding: 0 66px 30px 20px;
  }

  .banner-content {
    padding: 30px;
  }

  .banner-content h2 {
    font-size: 35px;
  }

  .banner-content p {
    margin: 0;
    font-size: 14px;
    line-height: 1.4;
  }

  .create-content {
    padding: 40px;
  }

  .story-txt {
    padding-left: 15px;
    padding-top: 30px;
  }

  .counter-wrapper {
    flex-direction: column;
    gap: 0;
  }

  .counter-wrapper .counter-block {
    margin: 0;
    width: 100%;
    padding: 0;
    border: 0;
  }

  .counter-wrapper .counter-block:not(:last-child) {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  }

  .counter-wrapper .counter-block:first-child {
    margin-top: 20px;
  }

  .empowering-content .brand img {
    max-width: 130px;
  }

  .imagine-content .imagine-card {
    flex-direction: column;
    margin-top: 30px;
  }

  .imagine-content .imagine-card .card {
    width: 100%;
  }

  .story-content .overflow-text {
    bottom: 0;
    left: 15px;
    right: 15px;
    width: auto;
    max-width: 100%;
  }

  .story-content .overflow-text p {
    max-width: 100%;
  }

  .privacy_content h2 {
    font-size: 35px;
  }

  .custom-sec .select-box {
    gap: 5px;
    padding: 10px;
  }

  .custom-sec .select_wrap .form-select {
    padding: 10px 5px !important;
  }

  /* 5june */

  .basket-rgt .cart_shipp li select {
    font-size: 16px;
  }

  .basket-rgt .shipping_content.grand {
    padding: 20px 0px;
  }

  .basket-rgt .shipping_content.grand p,
  .basket-rgt .shipping_content.grand span {
    font-size: 16px;
    line-height: 1.2;
  }

  .basket-rgt .check {
    padding: 15px 0px 15px;
  }

  .basket-rgt .check input {
    height: 30px;
    width: 30px;
  }

  .basket-rgt .tooltipBody {
    width: 150px;
  }
  .basket-table {
    overflow-x: scroll;
  }

  .basket-table table {
    width: 700px;
    overflow-x: scroll;
  }

  .rem a {
    width: 100%;
  }

  .rem {
    margin-bottom: 20px;
  }

  .summary_wrap .summary-table tbody tr:last-child td {
    font-size: 18px;
  }

  .summary_wrap h5 {
    margin-bottom: 10px;
  }

  .checkout-block.ship {
    gap: 30px;
    
  }
  .checkout-sec .steps li .step .text {
    display: none;
}

.checkout-sec .steps li {
    min-width: auto;
}

.checkout-sec .steps li::after {
    top: 50%;
}

.checkout-sec .step .circle {
    margin: 0;
}
.responseResultWrap .custom_radio.product_select {
  gap: 10px;
}
.bodyMainWrap .get_in_sec .get-in-content{
  margin-top: 50px;
}

}

@media only screen and (max-width: 575px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 28px;
    line-height: normal;
  }

  h3 {
    font-size: 25px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 18px;
  }

  h6 {
    font-size: 14px;
    letter-spacing: 0.3px;
  }

  .p_100 {
    padding: 50px 0px;
  }

  .loved-prdct_content .slick-arrow {
    width: 30px;
    height: 30px;
  }

  .loved-prdct_content .next-arrow.slick-arrow {
    right: -10px;
  }

  .loved-prdct_content .prev-arrow.slick-arrow {
    left: -10px;
  }

  .custom-sec .select-box {
    flex-direction: column;
  }

  .busines_slider2 .card .busines_img,
  .busines_slider .card .busines_img {
    min-height: 180px;
  }

  .busines_btn {
    margin-top: 30px;
  }

  .busines_slider2 .card .busines_img img,
  .busines_slider .card .busines_img img {
    max-width: 150px;
  }

  .our_best_grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .our_best_content .shop_wreap {
    flex-direction: column;
  }

  .busines_slider2::before,
  .busines_slider::before {
    margin: 0 10px;
  }

  .picks_wreap .busines_slider2::after,
  .picks_wreap .busines_slider::after {
    margin-right: 10px;
  }

  .arrivals_slider .slick-arrow {
    width: 30px;
    height: 30px;
    right: -10px;
  }

  .arrivals_slider .prev-arrow {
    left: -10px;
  }

  .multi_shop_cont {
    padding: 15px;
  }

  .multi_shop_txt p {
    margin: 15px 0;
  }

  .btn_dark {
    font-size: 14px;
    padding: 10px 25px;
  }

  .multi_shop_cont .multi_shop_img a img {
    max-width: 120px;
  }

  .multi_shop_txt h5 {
    font-size: 18px;
  }

  .view_wrapper .view_hd h2 {
    margin-bottom: 16px;
  }

  .view_slider .slick-dots {
    margin-top: 10px;
  }

  .quality_content {
    padding: 15px;
  }

  .quality_content p:last-child {
    margin: 30px 0 0;
  }

  .blog_list li .blog_list_txt {
    padding-left: 15px;
  }

  .blog_list li .blog_list_txt h6 {
    font-size: 15px;
  }

  .footer_top {
    padding: 30px 0;
  }

  .footer_top_lr h5 {
    font-size: 16px;
  }

  .ways_hd h3 {
    padding: 15px;
  }

  .view_slider .slick-dots li {
    margin: 0 1px;
  }

  .blgs_lt_content h4 {
    font-size: 20px;
  }

  .blgs_wrapper .blgs_lt span {
    font-size: 13px;
    margin: 25px 0 10px;
  }

  form.footer_top_rt {
    flex-direction: column;
    gap: 20px;
  }

  .footer_top_rt input {
    margin: 0;
  }

  .footer_top_rt .light_dark {
    width: 100%;
  }

  .footer_contnt ul li {
    margin-top: 12px;
  }

  .card_imgs {
    padding: 40px 0;
  }

  .footer_bt_rt {
    margin-top: 10px;
  }

  .footer_bt .container {
    flex-direction: column;
  }

  .footer_bt {
    padding: 20px 0;
  }

  .arrivals_wreap .card .busines_img img {
    max-width: 100px;
  }

  .arrivals_wreap .card .busines_img {
    min-height: 160px;
  }

  header .contc .con-img {
    min-height: 30px;
    min-width: 30px;
    padding: 5px;
  }

  header .search_wrapper .search_block form.srch_txt {
    padding: 5px;
  }

  header .search_wrapper .dropdown {
    width: 50%;
  }

  header .search_wrapper .search_block {
    width: 50%;
  }

  header nav.navbar .navbar-collapse {
    left: -75%;
    width: 75%;
  }

  header .search_content {
    gap: 10px;
  }

  header ul.pro_headr_mb {
    gap: 8px;
  }

  .paginetion_wreap ul {
    padding-top: 25px !important;
  }

  .cta {
    font-size: 14px;
    padding: 16px 30px;
  }

  .arrivals_progress {
    margin-top: 30px;
  }

  .busines_img {
    flex-direction: column;
  }

  .arrivals_wreap .card .busines_img img {
    max-width: 100%;
  }

  .busines_slider2 .card .busines_img img,
  .busines_slider .card .busines_img img {
    width: 100%;
  }

  .card_imgs {
    padding: 40px 0;
  }

  header .search_wrapper .dropdown a {
    font-size: 10px !important;
  }

  header .search_content {
    gap: 5px !important;
  }

  header .search_block .form-control {
    font-size: 12px;
  }

  .shop_top {
    flex-direction: column;
    gap: 15px;
  }

  .busines_slider2 .card,
  .busines_slider .card {
    padding: 12px 12px 20px;
  }

  .busines_slider2 .card .card-body p,
  .busines_slider .card .card-body p {
    margin: 10px 0 0 !important;
  }

  .filter_wreap .accordion-item .accordion-body {
    padding: 15px 0 0;
  }

  .accordion_wrapper .accordion-item .accordion-button {
    padding: 30px 20px 30px 20px;
  }

  .paginetion_wreap ul {
    padding-top: 45px;
  }

  .shop_size_txt {
    gap: 15px;
    justify-content: center;
    margin-top: 30px;
    flex-direction: column;
  }

  .shop_size .custom-content {
    padding: 50px 0;
  }

  .footer_contact {
    padding-top: 40px !important;
  }

  .light_dark {
    padding: 15px;
  }

  .shopgp__text.shop_lyt_txt ul li .card .card-body span {
    font-size: 15px;
  }

  .shopgp__text.shop_lyt_txt ul li .card {
    gap: 30px;
  }

  .shopgp__text.shop_lyt_txt ul li .card .card-body h5 {
    font-size: 26px;
  }

  .shop_gp_list .hd_text p {
    font-size: 16px;
    line-height: 1.4;
  }

  .shopgp__text.shop_lyt_txt .shop_code_copn {
    width: 55%;
  }

  .review_wrapper .site_rvw .revw_buttn a {
    padding: 14px 8px;
  }

  .site_rvw ul li button.nav-link {
    padding: 10px;
  }

  form.footer_top_rt {
    flex-direction: column;
    gap: 15px !important;
  }

  .shop_rtl {
    gap: 10px;
  }

  .up_artwrk_sec .upwrk_data .mid_txt p {
    width: 50px;
    height: 50px;
    margin: 0;
    font-size: 12px;
  }

  .breadcrumb_wreap ol .breadcrumb-item {
    font-size: 14px;
  }

  .blog-content .blog-blocks .posts li a h6 {
    line-height: normal;
  }

  .blog-content .blog-blocks .posts li {
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  .blog-content .category-link li {
    margin: 20px 0 0;
  }

  .blog-content .news-block {
    border-radius: 10px;
  }

  header .topbar-content span {
    font-size: 12px;
  }

  header .topbar i {
    font-size: 16px;
  }

  .blog-detail p,
  .blog-detail .blog-list li {
    font-size: 15px;
    line-height: 1.4;
  }

  .banner-content {
    padding: 30px 20px;
  }

  .banner-content p {
    width: 100%;
  }

  .banner-content h2 {
    font-size: 32px;
  }

  .create-content {
    padding: 20px;
  }

  .story-content h2 {
    margin-bottom: 20px;
  }

  .empowering-content .brand img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .brand-slider .brand {
    padding: 0 15px;
  }

  .banner_inner_text {
    max-width: 100%;
  }

  .inquiry_sec .inquiry_content .inquiry-form .form_rw .upld-lnk {
    margin-top: 10px;
  }

  .inquiry_sec .inquiry_content .inquiry-form .form_rw .upld-lnk a {
    padding: 16px 40px;
  }

  .get-lft-info .get-lnks p a {
    font-size: 16px;
  }

  .get_in_sec .get-in-content {
    padding: 20px;
  }

  .ways_hd ul.shipping {
    padding: 30px 0 50px !important;
  }

  .order_track_sec .form_info {
    padding: 20px;
  }

  .site_rvw .tab-content .review_grid {
    gap: 20px;
  }

  .b_text {
    font-size: 16px;
    line-height: normal;
  }

  .custmr_revw .view_content .view_all img {
    max-width: 100px;
  }

  .review_wrapper .site_rvw .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    padding-bottom: 25px;
  }

  .site_rvw .tab-content .testimonial-para {
    padding: 20px;
  }

  .site_rvw .tab-content {
    margin-top: 40px;
  }

  .privacy_txt h5 {
    font-size: 22px;
    margin-bottom: 16px;
  }

  .privacy_txt li img {
    max-width: 18px;
  }

  .vinyl_wrapper {
    padding: 30px 0;
  }

  .shop_dt_list ul li {
    width: 100%;
  }

  .shop_dt_list {
    padding: 20px 20px 20px 35px;
  }

  .shop_dt_cst form .form-select {
    font-size: 13px;
  }

  .shop_dt_group {
    flex-direction: column;
  }

  .shop_dt_group .form-label {
    width: 100%;
    margin-bottom: 4px;
  }

  .shop_dt_cst form .form-select {
    width: 100%;
  }

  .shp_dt_art p span {
    font-size: 14px;
  }

  .shp_dt_art p {
    font-size: 16px;
  }

  .descript_wrapper .nav .nav-link {
    font-size: 14px;
    padding: 12px 25px;
  }

  .related_content {
    padding: 15px;
  }

  .template_wrapper .busines_slider2 .card .busines_img img,
  .template_wrapper .busines_slider .card .busines_img img {
    max-width: none;
  }

  .template_slider .slick-list {
    padding-bottom: 40px;
  }

  .busines_content h6 {
    font-size: 13px;
  }

  .summary_wrap .summary-table tbody tr:last-child td {
    font-size: 18px;
  }

  .ship-wrap h5,
  h5 {
    font-size: 18px;
  }

  .ship-wrap .checkout-block {
    padding: 15px;
    border-radius: 10px;
  }

  .ship-wrap .form-control {
    padding: 15px;
    font-size: 13px;
  }

  .summary_wrap .summary-table tr td,
  .summary_wrap .summary-table tr th {
    font-size: 14px;
  }

  .checkout-block.ship {
    gap: 30px;
}

.checkout-block.ship {
    flex-wrap: wrap;
    gap: 10px;
}

.checkout-block.ship .ship-info {
    flex-basis: 100%;
}

.checkout-block.ship.address {
  flex-wrap: nowrap;
}
.responseResultWrap .custom_radio.product_select .Upload_wrapper {
  width: 48%;
}

.responseResultWrap .custom_radio.product_select {
  flex-direction: row;
  gap: 10px !important;
}
.custom_radio.product_select .Upload_wrapper-txt.add-icon-div [type="file"]+label {
  height: 23px !important;
  width: 23px !important;
  font-size: 10px;
}
}
