@font-face {
    font-family: 'Mona Sans';
    src: url('../font/Mona-Sans-Regular.woff2') format('woff2'),
    url('../font/MonaSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mona Sans';
    src: url('../font/MonaSans-Bold.woff2') format('woff2'),
    url('../font/MonaSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mona Sans';
    src: url('../font/MonaSans-Medium.woff2') format('woff2'),
    url('../font/MonaSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    color: #FFF;
    font-family: "Mona Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    background: #000000;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    transition: all 0.5s ease-in-out !important;
}

.btn-check:focus+.btn,
.btn:focus {
    outline: 0;
    box-shadow: none;
}

.btn:hover {
    color: #fff;
}

.form-control:focus {
    border: 0;
    box-shadow: none;
}

.form-select:focus {
    border-color: unset;
    box-shadow: none;
}

h1 {}

h2,
h3,
h4,
h5,
h6 {
    color: #FFF;
    text-align: center;
}

h2 {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
}

h3 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
    line-height: normal;
}

h4 {
    font-size: 28px;
    font-weight: 600;
    line-height: normal;
}

h6 {
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0.34px;
    margin: 0;
}
.p_100 {
    padding: 100px 0px;
}
.cta {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    padding: 20px 48px;
    border-radius: 5px;
    background: #48A9EB;
}
.cta:hover {
    background-color: #fff;
    color: #000;
}
header .topbar-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;
}
header .topbar-content .toggl {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}

header .topbar i {
    font-size: 20px;
    cursor: pointer;
}
header .topbar * {
    color: #000;
}
header .free-exp-wrap * {
    color: #fff;
    font-size: 13px;
    line-height: normal;
}
header .free-exp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .free-exp ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .free-exp ul li {
    border-right: 1px solid #1B1B1B;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}
header .free-exp p.m-0 {
    border-right: 1px solid #1B1B1B;
    padding: 14px 70px 14px 0;
}
header .free-exp ul li:last-child {
    border: 0;
    padding-right: 0;
}
header .free-exp ul li:first-child {
    padding-left: 0;
}
header .free-exp ul a {
    font-size: 13px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
header .free-exp-wrap {
    border-bottom: 1px solid #1B1B1B;
}
header .search_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .free-exp ul.dropdown-menu {
    display: none;
    min-width: 7rem;
    background-color: #000;
    border: 0;
}
header .free-exp ul.dropdown-menu.show {
    display: block;
}
header .free-exp ul.dropdown-menu li {
    padding: 0;
    border: 0;
}
header .free-exp ul.dropdown-menu button.dropdown-item {
    padding: 8px;
    text-align: center;
    color: #fff;
}
header .free-exp ul.dropdown-menu button.dropdown-item:hover {
    background-color: transparent;
}
header .search_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .search_wrapper .search_block {
    width: 80%;
}
header .search_wrapper .dropdown {
    width: 20%;
    border-right: 1px solid #2F2F2F;
}
header .search_wrapper .dropdown-toggle {
    width: 100%;
    text-align: left;
    color: #CFCFCF;
}
header .search_wrapper * {
    color: #fff;
}
header .search_block .form-control {
    background: transparent;
    border: none;
    padding: 15px 20px;
    color: #CFCFCF;
    font-size: 13px;
    font-weight: 400;
}
header .contc ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
header .free-exp ul.dropdown-menu button.dropdown-item {
    padding: 8px;
    text-align: center;
}
header .free-exp ul li .btn-group .dropdown-toggle {
    background-color: transparent;
    border: 0;
    padding: 0 20px 0 0;
}
.search_wrapper .dropdown-toggle::after {
    right: 10px;
}
header .contc span {
    color: #FFF;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    white-space: nowrap;
    line-height: 20px;
}
header .contc a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}
header .contc .con-img {
    min-height: 44px;
    min-width: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #1B1B1B;
    background: #000;
}
header .search_wrapper {
    border-radius: 5px;
    border: 1px solid #1B1B1B;
    background: #080808;
    width: 100%;
    max-width: 1000px;
    margin: auto;
}
header .search_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0;
    gap: 15px;
}
header .dropdown-toggle::after {
    content: "\f078";
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    right: 0;
    position: absolute;
    border: none;
}
header .dropdown-menu.show {
    width: 100%;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(238, 238, 238);
    box-shadow: rgba(0, 0, 0, 0.03) 0px 5px 10px;
    padding: 0;
}
header .dropdown-item {
    color: #000;
}
header .search_wrapper .dropdown a {
    font-size: 13px;
    font-weight: 400;
}
header .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    position: relative;
}
header .contc a:hover .con-img {
    background-color: #fff;
}
header .contc a:hover .con-img img {
    filter: invert(1);
}
header .contc a:hover span {
    color: #DC288A;
}
header .navbar-expand-lg .navbar-nav .nav-link:after {
    position: absolute;
    content: '';
    bottom: -4px;
    left: 0;
    right: 0;
    width: 0;
    height: 1px;
    background-color: #fff;
    transition: all 0.5s ease-in-out;
}
header .free-exp ul a span {
    transition: all 0.5s ease-in-out;   
} 
header .free-exp ul a:hover span {
    color: #DC288A;
}
header .navbar-expand-lg .navbar-nav .nav-link:hover:after {
    width: 100%;
}
header .navbaar .navbar {
    padding: 13px 0;
}
header .navbar-nav {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1580px;
    margin: auto;
}
header .topbar-content span {
    text-align: center;
    font-weight: 600;
}
header ul.pro_headr_mb {
    display: none;
}
header .search_content .navbar-brand {
    padding: 0;
    margin: 0;
}
.banner-content .banner-head .shipping {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}
.banner-content .banner-head .shipping li .ship-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
.banner-content .banner-head .shipping li .ship-box p {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;

}
.banner-content .banner-head .shipping li p {
    margin: 0;
}
.banner-content .banner-head .shipping li span {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
}
.banner-content .banner-img img {
    border-radius: 25px;
}
.loved-prdct_content h3 {
    margin-bottom: 30px;
}
.loved-prdct_content .card {
    border-radius: 5px;
    border: 1px solid #1B1B1B;
    background: #000;
    height: 100%;
    padding: 15px;
    margin: 0 15px;
}
.card-wrap {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.product-slider .slick-list.draggable {
    margin: 0 -15px;
}
.card-img {
    min-width: 152px;
    min-height: 152px;
    border-radius: 5px;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loved-prdct_content .card-body p {
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}
.loved-prdct_content .rating {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 12px 0px 0;
}
.loved-prdct_content .rating .star i {
    color: #F8B805;
}
.loved-prdct_content .rating span {
    color: #909090;
    font-size: 12px;
    font-weight: 500;
}
.loved-prdct_content .view {
    margin-top: auto;
}
.loved-prdct_content .card .card-img {
    width: 40%;
}
.custom-sec .select_wrap .form-select {
    border: 0;
    font-size: 14px;
    padding: 16px;
    line-height: normal;
    letter-spacing: 0.28px;
    color: #303030;
}
.custom-sec .select-box h6 {
    padding-right: 10px;
    white-space: nowrap;
}
.loved-prdct_content .card-body {
    width: 60%;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.loved-prdct_content .view a {
    color: #DC288A;
    font-size: 14px;
    font-weight: 500;
}
.loved-prdct_content .view a:hover {
    color: #fff;
}
.loved-prdct_content .slick-arrow {
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
    width: 35px;
    height: 35px;
    background: #309EE8;
    border: 0;
    color: #fff;
    border-radius: 50%;
    z-index: 9;
}
.loved-prdct_content .prev-arrow.slick-arrow {
    left: -50px;
}
.loved-prdct_content .next-arrow.slick-arrow {
    right: -50px;
}
.custom-sec {
    background-attachment: fixed;
}
.custom-sec .select-box {
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: #000;
    max-width: 808px;
    margin: auto;
    text-align: left;
    padding: 15px;
    gap: 10px;
}
.custom-sec .select_wrap {
    width: 100%;
}
.busines_slider .card {
    border-radius: 15px;
    border: 1px solid #1B1B1B;
    background: #000;    
    padding: 15px 15px 30px;
    margin: 0 15px;
    transition: all 0.5s ease-in-out;
}
.busines_slider .card:hover {
    border: 1px solid #1B1B1B;
    background: #0B0B0B;
    box-shadow: 0px 16px 74px 0px rgba(220, 40, 138, 0.16);
}
.busines_slider .slick-list.draggable {
    margin: 0 -15px;
    overflow: visible;
}
.busines_slider .card .busines_img img {
    margin: 0 auto;
}
.busines_slider .card .card-body {
    padding: 20px 0 0;
    text-align: center;
}
.star_wreap i {
    color: #F8B805;
    font-size: 14px;
}
.star_wreap span {
    color: #909090;
    font-size: 14px;
    font-weight: 500;
}
.busines_slider .card .card-body p {
    margin: 22px 0 0;
}
.busines_slider .card .card-body h5 {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
}
.busines_slider .card .busines_img {
    border-radius: 15px;
    background: #FFF;
    text-align: center;
    padding: 10px;
    min-height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
}
.picks_wreap .busine_select p {
    text-align: start;
}
.busines_content h6 {
    text-align: start;
    color: #FFF;
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 30px;
}
.busine_select {
    margin: 45px 0;
}
.busine_progress {
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #48A9EB1A;
  background-image: linear-gradient(to right, #48A9EB, #48A9EB);
  background-repeat: no-repeat;
  background-size: 0 100%;
  transition: background-size 0.4s ease-in-out;
}
.busines_slider .slick-arrow {
    background-color: #48A9EB;
    color: #fff;
    border: 0;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    position: absolute;
    z-index: 1;
    top: -112px;
}
.busines_slider .prev-arrow {
    right: 50px;
}
.busines_slider .next-arrow {
    right: 0;
}
.busines_btn {
    text-align: center;
    margin-top: 70px;
}
.ways_hd h3 {
    margin: 0;
    color: #000;
    border-radius: 10px;
    background: #FADC38;
    display: inline-block;
    padding: 30px 70px;
    transform: translateY(50%);
}
.ways_hd ul.shipping {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    background: rgba(250, 220, 56, 0.06);
    padding: 100px 100px 50px 100px;
}
.ways_hd {
    text-align: center;
}
.ways_hd ul.shipping li .ship-box {
    display: flex;
    gap: 20px;
    text-align: start;
    align-items: center;
}
.ways_hd ul.shipping li .ship-box p {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    text-align: start;
}
.ways_hd ul.shipping li:nth-child(2) {
    border-right: 1px solid #FADC381A;
    border-left: 1px solid #FADC381A;
    padding: 0 120px;
    margin: 0 120px;
}
.our_best_grid .card {
    background-color: transparent;
    border-radius: 9px;
    border: 1px solid #1B1B1B;
    padding: 13px 13px 25px;
    text-align: center;
    transition: all 0.5s ease-in-out;
}
.our_best_grid .card .card-body {
    padding: 25px 0 0;
}
.our_best_grid .card .card-body p {
    margin: 0;
}
.our_best_grid {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 25px;
}
.our_best_grid .card:hover {
    border-radius: 9px;
    background: #141414;
    box-shadow: 0px 16px 74px 0px rgba(220, 40, 138, 0.16);
}
.our_best_grid .card:hover p {
    color: #DC288A;
    font-weight: 600;
}
.our_best_grid .card .our_best_img {
    background: #FFF;
    min-height: 146px;
    border-radius: 9px;
    display: flex;
}
.our_best_grid .card .our_best_img img {
    margin: auto;
}
.our_best_content h3 {
    margin-bottom: 15px;
}
.our_best_content p {
    text-align: center;
    margin-bottom: 35px;
}
.our_best_content .shop_wreap {
    display: flex;
    align-items: center;
    gap: 35px;
    margin-top: 70px;
}
.picks_wreap .busine_select h4 {
    text-align: start;
}
.picks_wreap .busines_slider .card .card-body p {
    margin-top: 0;
    transition: all 0.5s ease-in-out;
}
.picks_wreap .busines_slider .card:hover .card-body p {
    color: #DC288A;
}
.picks_wreap .busines_slider .card .card-body p span {
    font-size: 12px;
    text-decoration: line-through;
}
.picks_wreap .busines_slider .card .card-body p strong {
    font-size: 14px;
}
.arrivals_progress {
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #DC288A12;
    background-image: linear-gradient(to right, #DC288A, #DC288A);
    background-repeat: no-repeat;
    background-size: 0 100%;
    transition: background-size 0.4s ease-in-out;
    margin-top: 80px;
}
.busine_select {
    text-align: center;
}
.arrivals_wreap .card {
    background-color: transparent;
    text-align: center;
    margin: 0 15px;
}
.arrivals_wreap .card .busines_img {
    display: flex;
    border-radius: 15px;
    background: #FFF;
    padding: 20px;
}
.arrivals_wreap .card .busines_img img {
    margin: auto;
}
.arrivals_wreap .card .card-body h5 {
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
}
.arrivals_wreap .card .card-body p {
    margin: 0;
}
.arrivals_wreap .card .card-body p span {
    color: #FFF;
    text-align: right;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    text-decoration: line-through;
}
.arrivals_wreap .card .card-body p strong {
    font-size: 14px;
}
.arrivals_slider .slick-arrow {
    width: 35px;
    height: 35px;
    background-color: #FADC38;
    border-radius: 100%;
    border: 0;
    position: absolute;
    top: 30%;
    right: -17px;
    z-index: 1;
}
.arrivals_slider .prev-arrow {
    left: -17px;
}
.arrivals_slider .slick-list.draggable {
    margin: 0 -15px;
    padding-right: 100px;
    margin-right: 0;
}
.cust_btn_wreap {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cust_btn_wreap .cust_btn {
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    border-radius: 5px;
    background: #DC288A;
    padding: 18px 30px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.busines_slider .card:hover .cust_btn {
    opacity: 1;
}
.cust_btn_wreap .cust_btn:hover {
    background-color: #000;
    color: #fff;
}
.busines_slider .card:hover .busines_img img {
    opacity: 0.3;
}
.multi_shop_cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    padding: 50px;
}
.multi_shop_txt {
    color: #000;
}
.multi_shop_txt h5 {
    color: #000;
    font-size: 22px;
    font-weight: 700;
    text-align: start;
    margin: 0;
}
.multi_shop_txt  p {
    margin: 25px 0;
}
.btn_dark {
    border-radius: 5px;
    background-color: #000;
    color: #FFF;
    font-size: 15px;
    font-weight: 600;
    line-height: normal;
    padding: 10px 38px;
}
.btn_dark:hover {
    background-color: #DC288A;
}
.multi_shop_grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 28px 38px;
}
.testimonial-para .test_hd h6 {
    text-align: start;
    color: #FFF;
    font-size: 18px;
    line-height: normal;
}
.testimonial-para p {
    margin: 0;
    font-size: 15px;
    font-style: normal;
    line-height: 25px;
}
.testimonial-para .test_view {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}
.testimonial-para {
    border-radius: 15px;
    background: #000;
    padding: 30px;
}
.view_wrapper .view_hd h2 {
    margin-bottom: 32px;
}
.view_slider .testimonial-para {
    margin: 0 15px;
    height: auto;
}
.view_slider .slick-list.draggable {
    margin: 0 -15px;
}
.view_slider {
    overflow: hidden;
}
.view_slider .slick-dots {
    position: unset;
    margin-top: 30px;
}
.view_slider .slick-dots li button:before {
    font-size: 15px;
    color: #2F2F2F;
    opacity: 1;
}
.view_slider .slick-dots li.slick-active button:before {
    opacity: 1;
    color: #FADC38;
}
.view_slider .slick-track {
    display: flex;
    height: 100%;
}
.quality_content h5 {
    text-align: start;
    font-size: 20px;
    font-weight: 700;
}
.quality_content p {
    color: #FFF;
    font-size: 15px;
    line-height: 25px;
}
.quality_content p .link-btn {
    color: #DC288A;
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
    padding: 0;
    margin-left: 8px;
}
.quality_content {
    border-radius: 25px;
    background: rgba(72, 169, 235, 0.10);
    padding: 50px 70px;
}
.quality_content p:last-child {
    margin: 35px 0 0;
}
.busines_slider::before, 
.busines_slider::after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    right: 100%;
    background-color: #141414;
    height: 100%;
    width: 200%;
    z-index: 1;
}
.busines_slider::before {
    left: 100%;
    right: unset;
    margin-left: 2px;
}
.picks_wreap .busines_slider::before, 
.picks_wreap .busines_slider::after {
    background-color: #000;
}
.blgs_wrapper .blgs_hd h2 {
    margin-bottom: 30px;
}
.blgs_wrapper .blgs_lt span {
    color: #DC288A;
    font-size: 14px;
    font-weight: 800;
    display: inline-block;
    margin: 34px 0 16px;
}
.blgs_lt_content h4 {
    text-align: start;
    color: #FFF;
    font-size: 26px;
    line-height: 36px;
}
.blog_list li {
    display: flex;
    align-items: center;
}
.blog_list li .blog_list_img {
    width: 40%;
}
.blog_list li .blog_list_txt {
    width: 60%;
    padding-left: 25px;
}
.blog_list li .blog_list_txt h6 {
    text-align: start;
    margin-top: 14px;
    font-size: 22px;
    line-height: 34px;
}
.blog_list li .blog_list_txt span {
    color: #DC288A;
    font-size: 14px;
    font-weight: 800;
}
.blog_list li .blog_list_txt p {
    margin: 0;
}
.blog_list li:not(:last-child) {
    margin-bottom: 30px;
}
.best_price .ways_hd ul.shipping {
    padding: 0;
    background-color: transparent;
    border-top: 1px solid #1B1B1B;
    border-radius: 0;
    padding: 60px 0;
}
.best_price .ways_hd ul.shipping li:nth-child(2) {
    padding: 0 60px;
    margin: 0 60px;
}
.best_price .ways_hd ul.shipping li .ship-box span {
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
    margin-top: 8px;
}
.footer_top {
    background: #DC288A;
    padding: 45px 0;
}
.footer_top_lr h5 {
    text-align: start;
    margin: 0;
    font-size: 25px;
    font-weight: 600;
    line-height: 36px;
    padding-right: 30px;
}
.footer_top_rt input {
    border-radius: 5px;
    border: 1px solid #F2F4F5;
    background: rgba(255, 255, 255, 0.13);
    color: #F2F2F2;
    font-size: 14px;
    line-height: normal;
    padding: 20px;
    min-width: 498px;
    margin-right: 20px;
}
.light_dark {
    color: #000;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    border-radius: 5px;
    background: #FADC38;
    padding: 18px 42px;
}
.light_dark:hover {
    background-color: #000;
    color: #fff;
}
.footer_grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 100px;
    border-right: 1px solid #1B1B1B;
    padding-top: 80px;
    margin-right: 60px;
    padding-right: 60px;
}
.footer_contact {
    padding-top: 70px;
}
.footer_contnt h6 {
    color: #FFF;
    font-size: 20px;
    text-align: start;
}
.footer_contnt ul li a {
    display: inline-block;
    font-size: 14px;
    line-height: 1.5;
    color: #FFF;
    position: relative;
}
.footer_contnt ul li a:after {
    position: absolute;
    content: '';
    bottom: -4px;
    left: 0;
    right: 0;
    width: 0;
    height: 1px;
    background-color: #fff;
    transition: all 0.5s ease-in-out;
}
.footer_contnt ul li a:hover:after {
    width: 100%;
}
.footer_contnt ul li {
    margin-top: 30px;
}
.footer_contact li {
    display: flex;
    align-items: center;
}
.footer_contact li:first-child {
    align-items: start;
}
.footer_contact li span {
    min-width: 100px;
    color: #FFF;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.footer_bt .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer_bt {
    padding: 40px 0;
    border-top: 1px solid #1B1B1B;
}
.footer_bt_rt {
    display: flex;
    align-items: center;
    gap: 50px;
}
.footer_bt_rt li a {
    color: #FFF;
}
.footer_bt_rt li a:hover {
    color: #DC288A;
    text-decoration: underline;
}
.footer_bord {
    border-right: 1px solid #1B1B1B;
    padding-bottom: 110px;
    margin-right: 60px;
}
.footer_top_rt input::placeholder {
    color: #fff;
}
input:focus-visible {
    outline: none;
}
.our_best_wreapper {
    position: relative;
}
.our_best_wreapper::after {
    position: absolute;
    content: '';
    bottom: 50px;
    left: 0;
    background-image: url(../img/right_logo_1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    width: 180px;
    height: 380px;
    z-index: -1;
}   
.our_best_wreapper::after {
    width: 100px;
    height: 250px;
    bottom: 30px;
}

/* ================ shop page css start here ==================== */
.vinyl_wrapper {
    padding: 70px 0;
}
.breadcrumb_wreap ol {
    margin: 0 0 26px;
}
.breadcrumb_wreap ol .breadcrumb-item {
    color: #FFF;
    font-size: 16px;
    line-height: normal;
}
.breadcrumb_wreap  .breadcrumb-item+.breadcrumb-item::before {
    content: '|';
    color: #fff;
}
.breadcrumb_wreap ol .breadcrumb-item a {
    color: #fff;
}
.breadcrumb_wreap ol .breadcrumb-item.active {
    color: #FADC38;
}
.vinyl_content h3 {
    margin-bottom: 16px;
    text-align: start;
}
.shop_size .select_wrap:first-child {
    min-width: 280px;
}
.shop_size .custom-content {
    padding: 70px 0;
    border-radius: 25px;
}
.shop_size_txt {
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: center;
    margin-top: 30px;
}
.shop_size_txt p {
    margin: 0;
    font-size: 26px;
    font-weight: 600;
    line-height: normal;
}
.shop_size_txt p strong, .shop_size_txt p span {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
}
.shop_size_txt p strong {
    font-weight: 600;
}
.shop_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #1B1B1B;
    padding-bottom: 22px;
    position: relative;
}
.shop_top .shop_size_txt {
    margin: 0;
    gap: 15px;
}
.shop_top p {
    margin: 0;
    font-weight: 600;
}
.shop_top .form-select {
    min-width: 220px;
    border-radius: 5px;
    color: #7C7C7C;
    font-size: 14px;
    line-height: normal;
    letter-spacing: 0.28px;
    padding: 15px;
}
.shop_top::after {
    position: absolute;
    content: '';
    bottom: -1.5px;
    width: 12%;
    height: 3px;
    background-color: #48A9EB;
}
.shop_rtl {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.shop_rtl_wreap {
    width: 70%;
}
.shop_rtl::after,
.shop_rtl::before {
    display: none;
}
.shop_rtl .card {
    margin: 0;
}
.shop_ltr {
    display: flex;
    margin-top: 55px;
}
.shop_ltr .filter_wreap {
    width: 30%;
    padding-right: 30px;
}
.filter_wreap .accordion-item {
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    padding: 26px 0;
}
.shop_ltr .filter_wreap .accordion {
    border-radius: 15px;
    border: 1px solid #1B1B1B;
    padding: 65px 30px 40px;
    margin-top: -25px;
}
.shop_ltr .filter_wreap h5 {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color: #FADC38;
    padding: 15px 55px;
    margin-bottom: 0;
    display: inline-block;
    transform: translateX(45%);
    border-radius: 5px;
}
.filter_wreap .accordion-item .accordion-button {
    border-radius: 0;
    padding: 0;
    background-color: transparent;
    line-height: normal;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
}
.filter_wreap .accordion-item .accordion-body {
    padding: 20px 0 0;
}
.filter_wreap .accordion-item:last-child {
    padding-bottom: 0;
    border-bottom: 0;
}
.filter_wreap .accordion-item .accordion-body ul li a {
    color: #FFF;
    font-size: 14px;
    line-height: 36px;
}
.accordion-button:focus {
    box-shadow: none;
}
.filter_wreap .accordion-item .accordion-button::after {
    width: 15px;
    height: 15px;
    background-size: 15px;
    transition: transform 0.5s ease-in-out;
}
.filter_wreap .accordion-item .accordion-button::after {
    background-image: url(../img/arrow_down.svg);
}
.filter_wreap .accordion-item .accordion-button:not(.collapsed)::after {
    background-image: url(../img/arrow_up.svg);
    transform: rotate(-360deg);
}
.filter_wreap .accordion-item .accordion-button[aria-expanded="true"] {
    color: #DC288A;
}
.paginetion_wreap ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    gap: 10px;
}
.paginetion_wreap ul li a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #1B1B1B;
    border-radius: 100%;
    color: #7C7C7C;
    font-size: 20px;
    line-height: normal;
}
.paginetion_wreap ul li.active a {
    background-color: #FADC38;
    color: #000;
}
.toggle_hide_mb {
    opacity: 0;
    z-index: -1;
}
.navbar_nav_mb {
    display: none;
}
.accordion_wrapper .accordion-item {
    border-radius: 15px;
    border: 1px solid #1B1B1B;
    background-color: transparent;
}
.accordion_wrapper .accordion-item .accordion-button {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    padding: 0;
    background-color: transparent;
    padding: 40px 25px 40px 40px;
}
.accordion_wrapper .accordion-item .accordion-body {
    padding: 0;
}
.accordion_wrapper .accordion-item:not(:last-child) {
    margin-bottom: 38px;
}
.accordion_wrapper .accordion-item .accordion-body p {
    margin: 0;
    padding: 0 70px 40px 40px;
}
.accordion_wrapper .accordion-item .accordion-button:not(.collapsed)::after {
    background-image: url(../img/accoding_1.svg);
}
.accordion_wrapper .accordion-item .accordion-button::after {
    background-image: url(../img/accoding_2.svg);
}
.accordion_wrapper .accordion-item .accordion-button::after {
    width: 50px;
    height: 50px;
    background-size: 50px;
}
.accordion_wrapper .accordion-item .accordion-collapse.show {
    background-color: rgba(72, 169, 235, 0.10);
}
.accordion_wrapper .accordion-item .accordion-button:not(.collapsed) {
    box-shadow: none;
    background-color: rgba(72, 169, 235, 0.10);
}
/* ================ shop page css end here ==================== */