@font-face {
    font-family: 'Noteworthy';
    src: url('Noteworthy-Bold.woff2') format('woff2'),
        url('Noteworthy-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

